body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    flex: none;
    order: 2;
    flex-grow: 0;
}
header{
    text-align: center;
}
.logo-in-header{
    float: left;
}
.list-in-header{
    display: flex;
    align-content: center;
    list-style-type: none;
}
.contacts{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.effective-solutions{
    background-color: #2E2F42;
    color: white; 
    text-align: center;
}
.text-of-effective-solutions{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}
.order-service-button{
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 169px;
    height: 56px;
    left: 20px;
    top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.order-service-button:hover{
    width: 169px;
    height: 56px;
    left: 20px;
    top: 88px;
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.list-of-features{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}
.heading{
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.examples{
    list-style-type: none;
    display:flex;
    justify-content: space-around;
}
.team{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}
.team:hover{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;  
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
.name{
    text-align: center;
    letter-spacing: 0.02em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: #2E2F42;
}
.role{
    text-align: center;
    letter-spacing: 0.02em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: #2E2F42;
}
.footer{
    background: #2E2F42;
}
.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text-in-footer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}